---
import HeaderLink from './HeaderLink.astro';
import { HOMEPAGE_URL } from '../consts';
---

<header class="fixed w-full pq2 z-20 backdrop-blue-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center gap-3 text-base">
			<h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
				Joshua Levine
			</h2>
			<div class="items-center gap-6 hidden md:flex">
				<HeaderLink href={HOMEPAGE_URL} target="_blank">About</HeaderLink>
				<HeaderLink href="https://github.com/JoshJAL/what-i-use" target="_blank">Source</HeaderLink>
			</div>
			<div class="flex-1"></div>
		</nav>
	</div>
</header>